<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Text Util site</h1>
    <form action="/analyze" method="get">
        <textarea name="text" id="" cols="30" rows="10" style="width: 1352px; height: 187px;"></textarea><br><br>
        <input type="checkbox" name="removepunc" id="">Remove Punctuation  <br>
        <input type="checkbox" name="capitalize" id="">Capitalize the text <br>
        <input type="checkbox" name="newlineremover" id="">Remove new line <br>
        <input type="checkbox" name="spaceremover" id="">Remove spaces <br>
        <input type="checkbox" name="countchar" id="">Count Characters <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>